.u-section-1 .u-sheet-1 {
  min-height: 682px;
}

.u-section-1 .u-group-1 {
  min-height: 673px;
  margin-top: 0;
  margin-bottom: 10px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 6px 2px;
}

.u-section-1 .u-group-2 {
  width: 1118px;
  min-height: 149px;
  height: auto;
  margin: -1px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -89px auto 0 123px;
}

.u-section-1 .u-text-2 {
  margin: 4px auto 0 155px;
}

.u-section-1 .u-icon-1 {
  width: 22px;
  height: 22px;
  color: rgb(22, 21, 28) !important;
  margin: -25px auto 0 123px;
}

.u-section-1 .u-btn-1 {
  --radius: 13px;
  background-image: none;
  margin: -35px 0 0 auto;
  padding: 10px 18px 10px 16px;
}

.u-section-1 .u-icon-2 {
  vertical-align: 0px;
  font-size: 0.9376em;
  margin-right: 7px;
}

.u-section-1 .u-group-3 {
  width: 215px;
  min-height: 233px;
  height: auto;
  --radius: 13px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 65px auto 0 20px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 218px;
  margin: -21px auto 0 -10px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 222px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 23px -7px -8px auto;
  padding: 7px 71px 9px 70px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  --radius: 10px;
  margin: 23px -7px -8px auto;
  padding: 7px 71px 9px 70px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 0 0;
}

.u-section-1 .u-btn-4 {
  margin: 23px -7px -8px auto;
  padding: 7px 71px 9px 70px;
}

.u-section-1 .u-group-4 {
  width: 841px ;
  min-height: 439px;
  height: auto;
  background-image: none;
  margin: -233px 8px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 5px 4px 15px;
}

.u-section-1 .u-group-5 {
  min-height: 139px;
  height: auto;
  background-image: none;
  --radius: 13px;
  margin: 1px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-list-2 {
  width: 349px;
  margin: 10px auto 0 16px;
}

.u-section-1 .u-repeater-2 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 122px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 92px;
  height: 92px;
  margin: 15px auto 0 18px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -92px 23px 0 122px;
}

.u-section-1 .u-text-4 {
  margin: 3px 97px 0 147px;
}

.u-section-1 .u-icon-6 {
  width: 21px;
  height: 21px;
  margin: -25px 206px 0 122px;
  padding: 0;
}

.u-section-1 .u-icon-7 {
  width: 22px;
  height: 22px;
  color: rgb(115, 115, 115) !important;
  margin: 13px auto 0 122px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: -22px auto 0 152px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: -22px 101px 0 auto;
}

.u-section-1 .u-icon-8 {
  width: 22px;
  height: 22px;
  color: rgb(115, 115, 115) !important;
  margin: -22px 125px 0 auto;
}

.u-section-1 .u-group-6 {
  --radius: 13px;
  width: 64px;
  min-height: 46px;
  height: auto;
  margin: -78px 23px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 26px;
  height: 26px;
  margin: 10px auto 0;
}

.u-section-1 .u-group-7 {
  width: 860px;
  min-height: 136px;
  height: auto;
  background-image: none;
  --radius: 13px;
  margin: 9px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-list-3 {
  width: 349px;
  margin: 10px auto 0 16px;
}

.u-section-1 .u-repeater-3 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 122px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 92px;
  height: 92px;
  margin: 15px auto 0 18px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -92px 23px 0 122px;
}

.u-section-1 .u-text-8 {
  margin: 3px 97px 0 147px;
}

.u-section-1 .u-icon-9 {
  width: 21px;
  height: 21px;
  margin: -25px 206px 0 122px;
  padding: 0;
}

.u-section-1 .u-icon-10 {
  width: 22px;
  height: 22px;
  color: rgb(115, 115, 115) !important;
  margin: 13px auto 0 122px;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: -22px auto 0 152px;
}

.u-section-1 .u-icon-11 {
  width: 22px;
  height: 22px;
  color: rgb(115, 115, 115) !important;
  margin: -22px 125px 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: -21px 102px 0 auto;
}

.u-section-1 .u-group-8 {
  --radius: 13px;
  width: 64px;
  min-height: 46px;
  height: auto;
  margin: -100px 23px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 26px;
  height: 26px;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 928px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-1 {
    padding: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 271px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 942px;
  }

  .u-section-1 .u-btn-2 {
    --radius: 10px;
    border-style: solid;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-image-3 {
    --radius: 13px;
    filter: brightness(0);
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 30px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-image-5 {
    --radius: 13px;
    filter: brightness(0);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-2 {
    width: 708px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 203px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1089px;
  }

  .u-section-1 .u-group-4 {
    width: 708px;
    margin-right: 0;
  }

  .u-section-1 .u-group-7 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-2 {
    width: 528px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 160px;
  }

  .u-section-1 .u-group-4 {
    width: 528px;
  }

  .u-section-1 .u-group-7 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-2 {
    width: 328px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 76px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 95px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 76px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 98px;
  }

  .u-section-1 .u-group-4 {
    width: 328px;
  }

  .u-section-1 .u-list-2 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 13px;
    margin-left: 112px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 87px;
    margin-left: 137px;
  }

  .u-section-1 .u-icon-6 {
    margin-right: 194px;
    margin-left: 115px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 115px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -23px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -21px;
    margin-right: 116px;
  }

  .u-section-1 .u-group-7 {
    width: 320px;
  }

  .u-section-1 .u-list-3 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 13px;
    margin-left: 112px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 87px;
    margin-left: 137px;
  }

  .u-section-1 .u-icon-9 {
    margin-right: 194px;
    margin-left: 115px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 115px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 143px;
  }

  .u-section-1 .u-icon-11 {
    margin-right: 116px;
  }
}