.u-section-1 .u-sheet-1 {
  min-height: 468px;
}

.u-section-1 .u-icon-1 {
  width: 129px;
  height: 129px;
  margin: 16px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 0 0 60px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}