 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 11px;
  margin: 49px -147px 0 1093px;
  padding: 11px 30px 11px 29px;
}

.u-section-1 .u-group-1 {
  width: 276px;
  min-height: 1006px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -97px auto 0 -173px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-btn-2 {
  --radius: 9px;
  background-image: none;
  margin: 0 18px;
  padding: 12px 80px 12px 78px;
}

.u-section-1 .u-icon-1 {
  width: 22px;
  height: 20px;
  margin: -35px 206px 0 47px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  --radius: 9px;
  background-image: none;
  margin: 33px 15px 0 auto;
  padding: 12px 84px 12px 83px;
}

.u-section-1 .u-icon-2 {
  width: 22px;
  height: 25px;
  margin: -39px auto 0 47px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  --radius: 9px;
  background-image: none;
  margin: 35px 18px 0;
  padding: 12px 86px;
}

.u-section-1 .u-icon-3 {
  width: 22px;
  height: 19px;
  margin: -34px auto 0 48px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 265px;
  height: 2px;
  color: rgb(224, 224, 224) !important;
  margin: 37px 11px 0 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 0.75rem;
  width: 81px;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-5 {
  --radius: 9px;
  background-image: none;
  margin: 6px 18px 0 19px;
  padding: 12px 55px;
}

.u-section-1 .u-icon-5 {
  width: 22px;
  height: 22px;
  margin: -36px auto 0 48px;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  --radius: 9px;
  background-image: none;
  margin: 21px 20px 0 auto;
  padding: 12px 90px;
}

.u-section-1 .u-icon-7 {
  width: 22px;
  height: 22px;
  margin: -36px auto 0 47px;
  padding: 3px;
}

.u-section-1 .u-icon-8 {
  width: 265px;
  height: 2px;
  color: rgb(224, 224, 224) !important;
  margin: 30px 11px 0 0;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  --radius: 9px;
  background-image: none;
  margin: 26px auto 0 18px;
  padding: 12px 99px;
}

.u-section-1 .u-icon-9 {
  width: 22px;
  height: 24px;
  margin: -37px auto 0 47px;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  --radius: 9px;
  background-image: none;
  margin: 28px auto 0;
  padding: 12px 91px 12px 89px;
}

.u-section-1 .u-icon-10 {
  width: 22px;
  height: 24px;
  margin: -35px auto 0 47px;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  --radius: 9px;
  background-image: none;
  margin: 26px auto 0;
  padding: 12px 92px;
}

.u-section-1 .u-icon-11 {
  width: 22px;
  height: 20px;
  margin: -35px auto 0 47px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -981px 833px 0 136px;
}

.u-section-1 .u-list-1 {
  width: 1151px;
  margin: 3px -147px 59px auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 22.5px);
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 820px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --radius: 26px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 6px 0 10px;
}

.u-section-1 .u-image-1 {
  width: 99px;
  height: 99px;
  filter: brightness(0.85);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 21px auto 0 73px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 5px 57px 0 53px;
}

.u-section-1 .u-text-4 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 10px 64px 0 73px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 5px 7px 0 16px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  --radius: 26px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 6px 0 10px;
}

.u-section-1 .u-image-2 {
  width: 99px;
  height: 99px;
  filter: brightness(0.85);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 21px auto 0 73px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 5px 57px 0 53px;
}

.u-section-1 .u-text-7 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 10px 64px 0 73px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: 5px 7px 0 16px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  --radius: 26px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 6px 0 10px;
}

.u-section-1 .u-image-3 {
  width: 99px;
  height: 99px;
  filter: brightness(0.85);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 21px auto 0 73px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 5px 57px 0 53px;
}

.u-section-1 .u-text-10 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 10px 64px 0 73px;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  margin: 5px 7px 0 16px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  --radius: 26px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 6px 0 10px;
}

.u-section-1 .u-image-4 {
  width: 99px;
  height: 99px;
  filter: brightness(0.85);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 21px auto 0 73px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 5px 57px 0 53px;
}

.u-section-1 .u-text-13 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 10px 64px 0 73px;
}

.u-section-1 .u-text-14 {
  font-size: 0.875rem;
  margin: 5px 7px 0 16px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  --radius: 26px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 6px 0 10px;
}

.u-section-1 .u-image-5 {
  width: 99px;
  height: 99px;
  filter: brightness(0.85);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 21px auto 0 73px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 5px 57px 0 53px;
}

.u-section-1 .u-text-16 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 10px 64px 0 73px;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  margin: 5px 7px 0 16px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  --radius: 26px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 6px 0 10px;
}

.u-section-1 .u-image-6 {
  width: 99px;
  height: 99px;
  filter: brightness(0.85);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 21px auto 0 73px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 5px 57px 0 53px;
}

.u-section-1 .u-text-19 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 10px 64px 0 73px;
}

.u-section-1 .u-text-20 {
  font-size: 0.875rem;
  margin: 5px 7px 0 16px;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
  --radius: 26px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 6px 0 10px;
}

.u-section-1 .u-image-7 {
  width: 99px;
  height: 99px;
  filter: brightness(0.85);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 21px auto 0 73px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: 5px 57px 0 53px;
}

.u-section-1 .u-text-22 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 10px 64px 0 73px;
}

.u-section-1 .u-text-23 {
  font-size: 0.875rem;
  margin: 5px 7px 0 16px;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
  --radius: 26px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 6px 0 10px;
}

.u-section-1 .u-image-8 {
  width: 99px;
  height: 99px;
  filter: brightness(0.85);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 21px auto 0 73px;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: 5px 57px 0 53px;
}

.u-section-1 .u-text-25 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 10px 64px 0 73px;
}

.u-section-1 .u-text-26 {
  font-size: 0.875rem;
  margin: 5px 7px 0 16px;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
  --radius: 26px;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px 6px 0 10px;
}

.u-section-1 .u-image-9 {
  width: 99px;
  height: 99px;
  filter: brightness(0.85);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 21px auto 0 73px;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  margin: 5px 57px 0 53px;
}

.u-section-1 .u-text-28 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 10px 64px 0 73px;
}

.u-section-1 .u-text-29 {
  font-size: 0.875rem;
  margin: 5px 7px 0 16px;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
  --radius: 26px;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 6px 0 10px;
}

.u-section-1 .u-image-10 {
  width: 99px;
  height: 99px;
  filter: brightness(0.85);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 21px auto 0 73px;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin: 5px 57px 0 53px;
}

.u-section-1 .u-text-31 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 10px 64px 0 73px;
}

.u-section-1 .u-text-32 {
  font-size: 0.875rem;
  margin: 5px 7px 0 16px;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
  --radius: 26px;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px 6px 0 10px;
}

.u-section-1 .u-image-11 {
  width: 99px;
  height: 99px;
  filter: brightness(0.85);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 21px auto 0 73px;
}

.u-section-1 .u-text-33 {
  font-weight: 700;
  margin: 5px 57px 0 53px;
}

.u-section-1 .u-text-34 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 10px 64px 0 73px;
}

.u-section-1 .u-text-35 {
  font-size: 0.875rem;
  margin: 5px 7px 0 16px;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
  --radius: 26px;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px 6px 0 10px;
}

.u-section-1 .u-image-12 {
  width: 99px;
  height: 99px;
  filter: brightness(0.85);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 21px auto 0 73px;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  margin: 5px 57px 0 53px;
}

.u-section-1 .u-text-37 {
  font-weight: 300;
  font-size: 0.875rem;
  margin: 10px 64px 0 73px;
}

.u-section-1 .u-text-38 {
  font-size: 0.875rem;
  margin: 5px 7px 0 16px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 841px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 993px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-5 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 687px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 668px;
  }

  .u-section-1 .u-text-3 {
    width: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    width: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    width: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    width: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    width: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    width: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    width: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    width: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    width: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    width: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    width: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    width: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    width: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-25 {
    width: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    width: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-28 {
    width: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    width: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-31 {
    width: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    width: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-34 {
    width: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    width: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-37 {
    width: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-38 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 883px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 526px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 2124px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 793px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 395px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: 693px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 249px;
    margin-left: 86px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before,
.u-section-1 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-6,
.u-section-1 .u-image-6:before,
.u-section-1 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-6.u-image-6.u-image-6:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-6.u-image-6.u-image-6.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-7,
.u-section-1 .u-image-7:before,
.u-section-1 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-7.u-image-7.u-image-7:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-7.u-image-7.u-image-7.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-8,
.u-section-1 .u-image-8:before,
.u-section-1 .u-image-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-8.u-image-8.u-image-8:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-8.u-image-8.u-image-8.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-9,
.u-section-1 .u-image-9:before,
.u-section-1 .u-image-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-9.u-image-9.u-image-9:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-9.u-image-9.u-image-9.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-10,
.u-section-1 .u-image-10:before,
.u-section-1 .u-image-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-10.u-image-10.u-image-10:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-10.u-image-10.u-image-10.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-11,
.u-section-1 .u-image-11:before,
.u-section-1 .u-image-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-11.u-image-11.u-image-11:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-11.u-image-11.u-image-11.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-12,
.u-section-1 .u-image-12:before,
.u-section-1 .u-image-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-12.u-image-12.u-image-12:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-12.u-image-12.u-image-12.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}.myElement.display.none {
display:none;
}
.myelement.display.none {
display:none;
}
.sub.display.none {
display:none;
}
.ele {
display:none;
}